<html>
<body>
<div class="jumbotron feature">
	<div class="container">
		<h1>Буст</h1>
		<p>Контакт через vk: <a href='https://vk.com/agni_agni'>agni_agni</a></p>
		<div>
		<p><b>Все цены указаны за один дивизион (это одна цифра): </b></p>

		<p>Алмаз - 1000р</p>
		<p>Платина - 700р</p>
		<p>Золото - 500р </p>
		<p>Серебро - 400р </p>
		<p>Бронза 300р </p>

		<p>1 поинт в мастере - 3р</p>

		<p>Калибровка - 1300р</p>

		<p>Повторы игр - 300р</p>

		<p><i>Оплата на киви</i></p>
</div>
	</div>
</div>
</body>
</html>