<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">

    <div class="jumbotron feature">
        <div class="container">
            <h1><span class="glyphicon glyphicon-fire">Agni.</span>
            <iframe src="https://player.twitch.tv/?channel=agni_agni&autoplay=false" frameborder="0" scrolling="no" height="330" width="580" align="right"></iframe></h1>
            <p>Good stuff</p>
            <a target="_blank" class="btn btn-default" href="https://www.twitch.tv/agni_agni">Watch on twitch.tv</a>
        </div>
    </div>
</body>

</html>