<html>
<head><%= javascript_include_tag 'application' %></head>
<div class="calculator">
<h1>Thrall</h1>
<img src="/assets/thrall/HotS_Thrall.jpg"/>
<div>
<h2 style="float: left; clear: left">Level 1</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/block.png" onclick="showDiv(this.value, 'l1_description');" />
<input value="1" type="image" src="/assets/thrall/wolve.png" onclick="showDiv(this.value, 'l1_description');" />
<input value="2" type="image" src="/assets/thrall/thunder.png" onclick="showDiv(this.value, 'l1_description');" />
<input value="3" type="image" src="/assets/thrall/marksman.png" onclick="showDiv(this.value, 'l1_description');" />
</p>
<p id="l1_description" style="color:black;"></p>
</div>
</div>
<div>
<h2 style="float: left; clear: left">Level 4</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/thunder.png" onclick="showDiv(this.value, 'l4_description');" />
<input value="1" type="image" src="/assets/thrall/wolve.png" onclick="showDiv(this.value, 'l4_description');" />
<input value="2" type="image" src="/assets/thrall/green_wolve.png" onclick="showDiv(this.value, 'l4_description');" />
<input value="3" type="image" src="/assets/thrall/poison.png" onclick="showDiv(this.value, 'l4_description');" />
</p>
<p id="l4_description" style="color:black;"></p>
</div>
</div>
<div>
<h2 style="float: left; clear: left">Level 7</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/molot.png" onclick="showDiv(this.value,'l7_description');" />
<input value="1" type="image" src="/assets/thrall/wolve.png" onclick="showDiv(this.value,'l7_description');" />
<input value="2" type="image" src="/assets/thrall/damage_knife.png" onclick="showDiv(this.value,'l7_description');" />
<input value="3" type="image" src="/assets/thrall/green_wolve" onclick="showDiv(this.value,'l7_description');" />
</p>
<p id="l7_description" style="color:black;"></p>
</div>
<div>
<h2 style="float: left; clear: left">Level 10</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/sundering.png" onclick="showDiv(this.value,'l10_description');" />
<input value="1" type="image" src="/assets/thrall/earthquake.png" onclick="showDiv(this.value,'l10_description');" />
</p>
<p id="l10_description" style="color:black;"></p>
</div>
</div>
<div>
<h2 style="float: left; clear: left">Level 13</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/wolve.png" onclick="showDiv(this.value,'l13_description');" />
<input value="1" type="image" src="/assets/thrall/molot.png" onclick="showDiv(this.value,'l13_description');" />
<input value="2" type="image" src="/assets/thrall/damage_knife.png" onclick="showDiv(this.value, 'l13_description');" />
<input value="3" type="image" src="/assets/thrall/spell_shield.png" onclick="showDiv(this.value, 'l13_description');" />
</p>
<p id="l13_description" style="color:black;"></p>
</div>
</div>
<div>
<h2 style="float: left; clear: left">Level 16</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/thunder.png" onclick="showDiv(this.value,'l16_description');" />
<input value="1" type="image" src="/assets/thrall/molot.png" onclick="showDiv(this.value,'l16_description');" />
<input value="2" type="image" src="/assets/thrall/green_molot.png" onclick="showDiv(this.value,'l16_description');" />
<input value="3" type="image" src="/assets/thrall/blood_for_blood.png" onclick="showDiv(this.value,'l16_description');" />
</p>
<p id="l16_description" style="color:black;"></p>
</div>
</div>
<div>
<h2 style="float: left; clear: left">Level 20</h2>
<div>
<p style="float: left; clear: left">
<input value="0" type="image" src="/assets/thrall/sundering.png" onclick="showDiv(this.value, 'l20_description');" />
<input value="1" type="image" src="/assets/thrall/earthquake.png" onclick="showDiv(this.value, 'l20_description');" />
<input value="2" type="image" src="/assets/thrall/blue_knife.png" onclick="showDiv(this.value, 'l20_description');" />
<input value="3" type="image" src="/assets/thrall/blink.png" onclick="showDiv(this.value, 'l20_description');" />
</p>
<p id="l20_description" style="color:black;"></p>
</div>
</div>
</div>
</html>
