<html>
	<head><%= javascript_include_tag 'application' %></head>
	<div class="calculator">
		<h1>Thrall</h1>
		<img src="/assets/thrall/HotS_Thrall.jpg"/>
		<div>
			<label for="lvl1" style="float: left; clear: left">Level 1</label>
			<div id="lvl1">
				<form action="#" method="post">
					<input id="l1t1" value="0" type="radio" name="l1" class="radio" onclick="showDiv(this.value, 'l1_description')" />
					<label for="l1t1" class="block"></label>
					<input id="l1t2" value="1" type="radio" name="l1" class="radio" onclick="showDiv(this.value, 'l1_description')" />
					<label for="l1t2" class="wolve"></label>
					<input id="l1t3" value="2" type="radio" name="l1" class="radio" onclick="showDiv(this.value, 'l1_description')" />
					<label for="l1t3" class="thunder"></label>
					<input id="l1t4" value="3" type="radio" name="l1" class="radio" onclick="showDiv(this.value, 'l1_description')" />
					<label for="l1t4" class="marksman"></label>
					<div id="l1_description" class="talent-description"></div>
				</form>
			</div>
		</div>
		<div>
			<label for="lvl4" style="float: left; clear: left">Level 4</label>
			<div id="lvl4">
				<form action="#" method="post">
					<input id="l4t1" value="0" type="radio" name="l4" class="radio" onclick="showDiv(this.value, 'l4_description')" />
					<label for="l4t1" class="thunder">example3</label>
					<input id="l4t2" value="1" type="radio" name="l4" class="radio" onclick="showDiv(this.value, 'l4_description')" />
					<label for="l4t2" class="wolve">example2</label>
					<input id="l4t3" value="2" type="radio" name="l4" class="radio" onclick="showDiv(this.value, 'l4_description')" />
					<label for="l4t3" class="green_wolve">example2</label>
					<input id="l4t4" value="3" type="radio" name="l4" class="radio" onclick="showDiv(this.value, 'l4_description')" />
					<label for="l4t4" class="poison">example2</label>
					<div id="l4_description" class="talent-description"></div>
				</form>
			</div>
		</div>
		<div>
			<label for="lvl7" style="float: left; clear: left">Level 7</label>
			<div id="lvl7">
				<form action="#" method="post">
					<input id="l7t1" value="0" type="radio" name="l7" class="radio" onclick="showDiv(this.value, 'l7_description')" />
					<label for="l7t1" class="molot">example3</label>
					<input id="l7t2" value="1" type="radio" name="l7" class="radio" onclick="showDiv(this.value, 'l7_description')" />
					<label for="l7t2" class="wolve">example3</label>
					<input id="l7t3" value="2" type="radio" name="l7" class="radio" onclick="showDiv(this.value, 'l7_description')" />
					<label for="l7t3" class="damage_knife">example3</label>
					<input id="l7t4" value="3" type="radio" name="l7" class="radio" onclick="showDiv(this.value, 'l7_description')" />
					<label for="l7t4" class="green_wolve">example3</label>
					<div id="l7_description" class="talent-description"></div>
				</form>
			</div>
		</div>	
		<div>
			<label for="lvl10" style="float: left; clear: left">Level 10</label>
			<div id="lvl10">
				<form action="#" method="post">
					<input id="l10t1" value="0" type="radio" name="l10" class="radio" onclick="showDiv(this.value, 'l10_description')" />
					<label for="l10t1" class="sundering">example3</label>
					<input id="l10t2" value="1" type="radio" name="l10" class="radio" onclick="showDiv(this.value, 'l10_description')" />
					<label for="l10t2" class="earthquake">example3</label>
					<div id="l10_description" class="talent-description"></div>
				</form>
			</div>
		</div>
		<div>
			<label for="lvl13" style="float: left; clear: left">Level 13</label>
			<div id="lvl13">
				<form action="#" method="post">
					<input id="l13t1" value="0" type="radio" name="l13" class="radio" onclick="showDiv(this.value, 'l13_description')" />
					<label for="l13t1" class="wolve">example3</label>
					<input id="l13t2" value="1" type="radio" name="l13" class="radio" onclick="showDiv(this.value, 'l13_description')" />
					<label for="l13t2" class="molot">example3</label>
					<input id="l13t3" value="2" type="radio" name="l13" class="radio" onclick="showDiv(this.value, 'l13_description')" />
					<label for="l13t3" class="damage_knife">example3</label>
					<input id="l13t4" value="3" type="radio" name="l13" class="radio" onclick="showDiv(this.value, 'l13_description')" />
					<label for="l13t4" class="spell_shield">example3</label>
					<div id="l13_description" class="talent-description"></div>
				</form>
			</div>
		</div>
		<div>
			<label for="lvl16" style="float: left; clear: left">Level 16</label>
			<div id="lvl16">
				<form action="#" method="post">
					<input id="l16t1" value="0" type="radio" name="l16" class="radio" onclick="showDiv(this.value, 'l16_description')" />
					<label for="l16t1" class="thunder">example3</label>
					<input id="l16t2" value="1" type="radio" name="l16" class="radio" onclick="showDiv(this.value, 'l16_description')" />
					<label for="l16t2" class="molot">example3</label>
					<input id="l16t3" value="2" type="radio" name="l16" class="radio" onclick="showDiv(this.value, 'l16_description')" />
					<label for="l16t3" class="green_molot">example3</label>
					<input id="l16t4" value="3" type="radio" name="l16" class="radio" onclick="showDiv(this.value, 'l16_description')" />
					<label for="l16t4" class="blood_for_blood">example3</label>
					<div id="l16_description" class="talent-description"></div>
				</form>
			</div>
		</div>
		<div>
			<label for="lvl20" style="float: left; clear: left">Level 20</label>
			<div id="lvl20">
				<form action="#" method="post">
					<input id="l20t1" value="0" type="radio" name="l20" class="radio" onclick="showDiv(this.value, 'l20_description')" />
					<label for="l20t1" class="sundering">example3</label>
					<input id="l20t2" value="1" type="radio" name="l20" class="radio" onclick="showDiv(this.value, 'l20_description')" />
					<label for="l20t2" class="earthquake">example3</label>
					<input id="l20t3" value="2" type="radio" name="l20" class="radio" onclick="showDiv(this.value, 'l20_description')" />
					<label for="l20t3" class="blue_knife">example3</label>
					<input id="l20t4" value="3" type="radio" name="l20" class="radio" onclick="showDiv(this.value, 'l20_description')" />
					<label for="l20t4" class="blink">example3</label>
					<div id="l20_description" class="talent-description"></div>
				</form>
			</div>
		</div>
	</div>
</html>
