body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
form {
	display: inline-block;
	width: 420px;
}

label {
	display: inline-block;
	width: 150px;
	font-size: 32px;
	color: black;
	margin-top: 30px;
}

.talent-description {
	display: inline-block;
	color:black; 
	vertical-align:top;
	margin-top: 20px;
}

.feature {
	background-color: yellowgreen;
	color: greenyellow;
}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.radio {
    opacity: 0;
    position: absolute;
}
.block {
    background: url(/assets/thrall/block.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.thunder {
    background: url(/assets/thrall/thunder.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.wolve {
    background: url(/assets/thrall/wolve.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.marksman {
    background: url(/assets/thrall/marksman.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.green_wolve {
    background: url(/assets/thrall/green_wolve.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.poison {
    background: url(/assets/thrall/poison.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.molot {
    background: url(/assets/thrall/molot.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.green_molot {
    background: url(/assets/thrall/green_molot.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.damage_knife {
    background: url(/assets/thrall/damage_knife.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.sundering {
    background: url(/assets/thrall/sundering.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.earthquake {
    background: url(/assets/thrall/earthquake.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.spell_shield {
    background: url(/assets/thrall/spell_shield.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.blood_for_blood {
    background: url(/assets/thrall/blood_for_blood.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.blue_knife {
    background: url(/assets/thrall/blue_knife.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}
.blink {
    background: url(/assets/thrall/blink.png);
    text-indent: -999em;
    filter: grayscale(50%);
    border: 10px solid yellowgreen;
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin: 10px;
}

input[type="radio"]:checked + label {
    border: 10px solid orange;
    filter: grayscale(0%);
}