body {
    padding-top: 50px;
    color: #959595;
    }
    
h1, h2, h3, h4, h5, h6 {
    color: black;
    }
    
form {
    display: inline-block;
    width: 470px;
}

label {
    display: inline-block;
    width: 50px;
    font-size: 32px;
    color: black;
}
a[class="hero"]{
    color: darkslategray;
    text-decoration: none;
    margin: 3px;
}
a[class="hero"] > img{
    filter: grayscale(50%);
}
a[class="hero"]:hover > img {
    filter: grayscale(0%);
    box-shadow: orange 0 0 10px 1px,
                red 0 0 6px 2px;
}
img[class="hero"]{
    filter: grayscale(50%);
    margin-bottom: 10px;
    border-radius: 5px;
}
h1[class=hero]{
    font-size: 40px;
}
img[class="talent"] {
    border-radius: 10px;
    border: solid darkseagreen;
    filter: grayscale(80%);
    cursor: pointer;
    margin: 10px; 
}
.selected{
    filter: grayscale(0%);
    margin: 10px;
    border: solid orange;
    border-radius: 10px;
    box-shadow: inset red 0 0 40px 2px,
                      orange 0 0 24px 4px;
}
span[class="talent-title"]{
    display:flex;
    align-items: center; 
    margin: 10px;
    margin-bottom: 5px;
}
span[class="talent-desc"]{
    display:flex;
    align-items: center; 
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}
div[class="level"]{
    display:flex;
    align-items: center; 
    width: 970px;
    height: 140px;
    border-style: groove;
    border-color: darkseagreen;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
label[class="level"]{
    text-align: center; 
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.3), 
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
}
.talent-description {
    margin: 10px;
    vertical-align: middle;
    display: inline-block;
    color: black; 
    height: 120px;
    width: 400px;
    word-wrap: break-word;
    
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    background-color: darkseagreen;
    border-radius: 5px;
    -webkit-box-shadow: inset 2px 2px 10px 2px rgba(0,0,0,1);
    -moz-box-shadow: inset 2px 2px 10px 2px rgba(0,0,0,1);
    box-shadow: inset 2px 2px 10px 2px rgba(0,0,0,1);
}

.feature {
    background-color: lavender;
    color: black;
}
    
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
    background-color: #fff;
    padding: 30px 0;
}
a[class="hero"] {
   vertical-align: top;
   display: inline-block;
   text-align: center;
   width: 70px;
}
